<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 
			톰캣 : URL을 이용해 servlet을 찾는다 
			1. Controller 등록
			2. 한글변환 코드
			3. 에러처리 = (종류별)
			4. 보안 등록  		
	-->
	<servlet>
	  <servlet-name>dispatcher</servlet-name>
	  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	  
	  <!-- 
	  		클래스를 등록 => 스프링에 의해 클래스 관리 => WebApplicationContext 
	  											 XML / JAVA
	  		xml파일에 클래스관리를 받을 클래스를 입력하는데 
	  		그러한 xml파일의 위치를 알아야 spring이 관리를 해주므로 
	  		밑에 init-param에 읽어야할 xml위치를 알려준다
	   -->
	   <init-param>
	     <param-name>contextConfigLocation</param-name>
	     <param-value>/WEB-INF/config/application-*.xml</param-value>
	   </init-param>
	</servlet>
	
	<servlet-mapping>
	  <servlet-name>dispatcher</servlet-name>
	  <url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- 
			한글을 사용하지 않는다 : HttpServletRequest
			request.setCharacterEncoding("UTF-8")을 대신해서 xml에서 쓴다
			컨트롤러에서 쓰지 않아도됨  
	-->	
	<filter>
	  <filter-name>encodingFilter</filter-name>
	  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	  <init-param>
	         <param-name>encoding</param-name>
	         <param-value>UTF-8</param-value>
	     </init-param>
	     <init-param>
	         <param-name>forceEncoding</param-name>
	         <param-value>true</param-value>
	     </init-param>
	</filter>
	<filter-mapping>
	  <filter-name>encodingFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>